<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>object_with_method</title>
</head>
<body>

<script>
    function person(firstname, lastname, age) {
        this.firstname = firstname;
        this.lastname = lastname;
        this.age = age;
        this.changeName = changeName
        function changeName(name) {
            this.lastname = name;
        }
    }
    me = new person('chen', 'guang', 25);
    me.changeName('sha');
    document.write(me.lastname)
</script>
</body>
</html>